
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    position: fixed;
    padding: 0 10px;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    background-color: black;
    
}


#logo{
    width: 10rem;
    margin-left: 1rem;
}


#boton-carrito {
    border: none;
    color: white;
    font-size: 40px;
    background-color: black;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: #e2e2e2;
    transform: scale(0.9);
    
}
#boton-carrito:focus {
    outline: none;
}

.ventanaPrincipal{
    width: auto;
    margin:8rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card{
    width: 30%;
    height: 30rem;
    margin-bottom: 3rem;
    padding: 10px 10px 110px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border .2s ease-in;
    box-shadow: .4s ease-in;
    border: 1px solid #e7e7e7;
}

.card:hover{
    border: 1px solid #666;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.containProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containFotosCarrito{
width: 5%;
height: 7.5%;
}

.fotoscarrito{
object-fit: cover;
width: 100%;
    height: 100%;
}

.caja{
width: 8rem;
}


.precios span{
font-weight: bold;
}

.containFoto{
    height: 100%;
    width: 100%;
}

.fotos{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.precioProducto {
    font-weight: bold;
    font-size: 1.6rem;
    color:#434343;
    margin: 5px 0 0 0;
}

.nombreProducto{
 font-size: 1.5rem;
 font-weight: lighter;
 margin-top: 3px;
}

.precioTotal{
    margin-top: 1rem;
}

.precio3cuotas{
    color:#434343;
}

#vaciar-carrito{
margin-top: 15px;
}

.carritoVacio{
    font-weight:500;
    font-size: 1.3rem;
}

.fa-regular{
    width: 2rem;
}

.boton-agregar {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    margin-top:5px;
    padding: 10px;
}
.boton-agregar:hover {
    cursor: pointer;
    background-color: #666;
    
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    pointer-events: none;
    opacity: 0;
    z-index: 3;
}

.modal-active {
    opacity: 1;
    pointer-events: unset; 
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
    
}


.modal-carrito {
    position: relative;
    background-color:white;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color:#666;
    z-index: 4;
    transform: var(--transform);
    transition:var(--transition);
  
}


.modal-carrito h3 {
    display: block;
    color: black;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #666;
    border: none;
    background-color: white;
    background: transparent;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
    color: #e2e2e2;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
}

.productoEnCarrito {
    border-left: 5px solid #e2e2e2;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    height: 3%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.productoEnCarrito:hover {
    border: 1px solid #f3f3f3;
    border-left: 5px solid #666;
}

.boton-eliminar {
    background-color: white;
    color: #ececec;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
    
}
.boton-eliminar:focus {
    outline: none;
}

#vaciar-carrito{
padding: 10px;
border-radius: 5px;
}

footer{
    height: 5rem;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.fa-credit-card{
    width: 10rem;
}

.fa-truck{
    width: 10rem;
}

@media screen and (min-width: 1600px){
   .ventanaPrincipal .card{
        
        height: 40rem;
       
    }
}